if CDN
    link(href="https://s3-us-west-1.amazonaws.com/twerk.io/css/application5.min.css", type="text/css", rel="stylesheet")
    script(src="https://s3-us-west-1.amazonaws.com/twerk.io/socket.io.min.js")
    script(src="https://s3-us-west-1.amazonaws.com/twerk.io/application5.min.js")
else if MIN
    link(href="/css/application.min.css", rel="stylesheet")
    script(src="/js/socket-io/socket.io.min.js")
    script(src="/js/application.min.js")
    script(src="/js/application.min.js.map")
else
    link(href="/css/application.min.css", rel="stylesheet")
    script(src='/bower_components/angular/angular.min.js')
    script(src="/bower_components/angular-loading-bar/build/loading-bar.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/bower_components/angular-xeditable/dist/js/xeditable.min.js")
    script(src="/bower_components/angular-ui-select/dist/select.min.js")
    script(src="/bower_components/angular-flash/dist/angular-flash.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/bower_components/angular-ui/build/angular-ui.min.js")
    script(src="/bower_components/angular-timer/dist/angular-timer.min.js")
    script(src="/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/bower_components/angular-ui-utils/ui-utils.js")
    script(src="/js/angular/ngApp.js")
    script(src="/js/angular/services/authInterceptor.js")
    script(src="/js/angular/services/principal.js")
    script(src="/js/angular/services/userFactory.js")
    script(src="/js/angular/controllers/siteCtrl.js")
    script(src="/js/angular/controllers/dashboardCtrl.js")

