nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-main-collapse")
                i.fa.fa-bars
            a.navbar-brand(ui-sref="site.home")
                | Piggy Plug
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.float-right
                    a(ui-sref="site.register")
                        div.nav-icon-text Register
                li.float-right
                    a(ui-sref="site.login")
                        div.nav-icon-text Login
