#dashboard-container
    .bg-cover
        .container
            .row
                .col-md-4
                    .plugs-container
                        .dashboard-title Outlets
                        .dashboard-sub-container
                            .plug-container(ng-repeat="plug in plugs")


                .col-md-8
                    .banks-container
                        .dashboard-title
                        .dashboard-sub-container
                            .bank-container(ng-repeat="bank in banks")




