#home-container
    .bg-cover
        .container
            .home-headline.text-center INTRODUCING HAPPIER HOUSEHOLDS.
            p.home-description
                | Your child can now exchange their allowance money for TV time. Using a simple Wink outlet and piggy bank, you can set a minimum
                | amount of money required to turn on the TV, computer, or whatever other appliances you plug in.